/* PHASE 7: Online */

.profile-picture {
  overflow: hidden;
}

.online {
  position: absolute;
  display: block;
  color: #fff;
  font-weight: 700;
  background: #0c0;
  padding: 5px 35px;
  font-size: 12px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0 2px 0 0 #070;
  letter-spacing: 3px;
  top: -10px;
  left: -10px;
}
